<mat-card>
  <mat-card-title>
    Rejestracja
  </mat-card-title>
  <div class="card-content">
    <mat-form-field>
      <input type="email" required matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" required matInput placeholder="Hasło">
    </mat-form-field>
    <mat-form-field>
      <input type="password" required matInput placeholder="Powtórz hasło">
    </mat-form-field>
  </div>

  <div class="button-row">
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="primary">Zarejestruj</button>
    <button mat-raised-button color="warn">Anuluj</button>
  </div>
</mat-card>
