.pan-container {
  margin-top: 15px;
  display: flex;
  .left-pan {
    float: left;
    width: 100%;
  }
  .right-pan {
    float: right;
  }
}

table .action {
  width: auto;
  text-align: right;
  white-space: nowrap
}

table .content {
  width: auto
}

