<div mat-dialog-title>
  <h1 class="text-center">Profil</h1>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-4 text-center">
        <span *ngIf="userData?.photoUrl" class="close" (click)="removeImg()">&times;</span>
        <img *ngIf="!userData?.photoUrl" src="https://i.pinimg.com/564x/f0/03/44/f00344d904062ce92b4b3b146060d874.jpg">
        <img *ngIf="userData?.photoUrl" [src]="userData.photoUrl">

      <input type="file" accept="image/*" #file style="display: none !important;" (change)="onFileChange($event)">
        <button (click)="file.click()" type="button" class="btn btn-default waves-light" mdbRippleRadius>Zmień awatar</button>
    </div>
    <div class="col-md-8" *ngIf="userData">
      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="nameForm" class="form-control" mdbActive [(ngModel)]="userData.name">
        <label for="nameForm">Nazwa</label>
      </div>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="emailForm" class="form-control" disabled [(ngModel)]="config.email">
      </div>

    </div>
  </div>

</div>
<div mat-dialog-actions>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="close()" mdbRippleRadius>
      Anuluj
    </button>
    <button type="button" class="btn btn-primary relative waves-light pull-right" (click)="submit()" mdbRippleRadius>
      Zapisz zmiany
    </button>
  </div>
</div>
