<div class="row " style="height: 100%">
  <div class="fixed-action-btn slide-in-btn xs-special-button">
    <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect (click)="toggleLeftPanel()">
      <i class="fa"
         [class.fa-minus]="leftPanelOpen === true"
         [class.fa-bars]="leftPanelOpen === false"
      ></i>
    </button>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-xs-12 slide-in-column div-column padding-o" [class.slide-in-open]="leftPanelOpen === true">
    <div class="sticky-top">
      <app-categories (categorySelected)="categorySelected($event)"></app-categories>
      <div class="btn-group btn-block">
        <a [routerLink]="['/recipes']" class="btn btn-secondary waves-light" mdbRippleRadius><i
          class="fa fa-home"></i>
        </a>
        <button (click)="addRecipe()" class="btn btn-default waves-light btn-block" mdbRippleRadius><i
          class="fa fa-plus"></i> Dodaj przepis
        </button>
      </div>
    </div>
    <div>
      <app-recipes-list [category]="selectedCategory"></app-recipes-list>
    </div>
  </div>
  <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7 col-xs-12 div-column">
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

