<table class="table table-hover table-sm">
  <tbody>
  <tr class="buttons-row" #rowElement
      *ngFor="let rec of recipes | async | filter:searchService.searchValue | orderByProperty:'Name';trackBy: trackFn"
      [routerLink]="['/recipes', rec.$key]" routerLinkActive="table-info" [class.table-danger]="rowElement.toRemove">
    <td>
      <div class="row-data">{{rec.Name}}</div>
      <div class="btn-group pull-right position-absolute hover-elements xs-display-none" *ngIf="!rowElement.toRemove">
        <button type="button" [routerLink]="['/recipes', rec.$key]"
                class="btn btn-sm btn-default dropdown-toggle dropdown-toggle-split px-3 waves-light"
                mdbRippleRadius [matMenuTriggerFor]="appMenu"
                [matMenuTriggerData]="{rec: rec, rowElement: rowElement}"></button>
      </div>
      <div class="btn-group pull-right position-absolute " *ngIf="rowElement.toRemove && !rowElement.isRemoving">
        <button type="button" (click)="removeConfirm(rec, rowElement)"
                class="btn btn-danger btn-sm no-v-margin">Tak
        </button>
        <button type="button" (click)="removeCancel(rec, rowElement)"
                class="btn btn-primary btn-sm no-v-margin">Nie
        </button>
      </div>
      <div class="btn-group pull-right position-absolute " *ngIf="rowElement.isRemoving">
        <button type="button" (click)="removeCancel(rec, rowElement)"
                class="btn btn-primary btn-sm no-v-margin">Anuluj <strong>({{rowElement.removeTimer}})</strong></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-recipe="rec" let-rowElement="rowElement">
    <button class="menu-success" mat-menu-item [matMenuTriggerFor]="shareMenu">
      <i class="fa fa-share-alt"></i>
      Udostępnij
    </button>
    <button class="menu-primary" mat-menu-item (click)="editRecipe(recipe.$key)">
      <i class="fa fa-edit"></i>
      Edytuj
    </button>
    <button class="menu-danger" mat-menu-item (click)="removeRecipe(recipe, rowElement)">
      <i class="fa fa-trash"></i>
      Usuń
    </button>
  </ng-template>
</mat-menu>
<mat-menu #shareMenu="matMenu">
  <button mat-menu-item>
    <i class="fa fa-width-16 fa-facebook-f"></i>
    Facebook
  </button>
  <button mat-menu-item>
    <i class="fa fa-width-16 fa-envelope"></i>
    Email
  </button>
  <button mat-menu-item>
    <i class="fa fa-width-16 fa-copy"></i>
    Schowek
  </button>
  <button mat-menu-item>
    <i class="fa fa-width-16 fa-user"></i>
    Inny użytkownik
  </button>
</mat-menu>
