<nav class="navbar navbar-dark bg-default ie-nav fixed-top" [containerInside]="false">

    <a class="logo navbar-brand" href="#"><strong>Przepiśnik</strong></a>
    <ul class=" navbar-nav mr-auto row-nav">
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link waves-light" routerLink="recipes" mdbRippleRadius>Przepisy</a>
      </li>
      <li *ngIf="settings.leftSearch">
        <app-search class="d-none d-md-inline-block" *ngIf="isAuthenticated"></app-search>
      </li>
    </ul>

  <app-search *ngIf="isAuthenticated && !settings.leftSearch" class="d-none d-md-inline-block"></app-search>
  <app-user-info *ngIf="isAuthenticated"></app-user-info>

</nav>
<div class="content container-fluid">
  <router-outlet></router-outlet>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div>
    © 2018 Copyright: <a href="https://www.tomaszplocic.pl"> Tomasz Płocic </a>
  </div>
</nav>
