<mat-card  *ngIf="needsToLogIn">
  <mat-card-header>
    <h3 class="raised-title"><i class="fa fa-lock"></i> Zaloguj się:</h3>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" >
      <mat-form-field>
        <mat-label>
          Email
        </mat-label>
        <input matInput type="text" required class="form-control" formControlName="email"
               data-error="Błędny email" data-success="Poprawny email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          Hasło
        </mat-label>
        <input type="password" required class="form-control" formControlName="password"
               data-error="Podaj hasło" data-success="No hasło niby jest">
      </mat-form-field>
      <div class="text-center">
        <button mat-flat-button color="primary" (click)="login()">Zaloguj</button>
      </div>
      <div class="text-center" *ngIf="failedAttempt">
        <p class="red-text"><i class="fa fa-warning"></i> Nie udało się zalogować, sprawdź email i hasło</p>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    Nie masz konta?<a routerLink="/register"> Zarejestruj się</a>
  </mat-card-actions>
</mat-card>



<div class="loader" *ngIf="!needsToLogIn">
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</div>



