<div class="card login-card"  *ngIf="needsToLogIn">
  <div class="card-body">
    <h3 class="raised-title default-color z-depth-2"><i class="fa fa-lock"></i> Zaloguj się:</h3>
    <form [formGroup]="loginForm" >
      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" required id="form-email" class="form-control" formControlName="email" mdbInputDirective
               data-error="Błędny email" data-success="Poprawny email">
        <label for="form-email">Email</label>
      </div>
      <br/>
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" required id="form-pass" class="form-control" formControlName="password" mdbInputDirective
               data-error="Podaj hasło" data-success="No hasło niby jest">
        <label for="form-pass">Hasło</label>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-default waves-light" (click)="login()" mdbRippleRadius>Zaloguj</button>
      </div>
      <div class="text-center" *ngIf="failedAttempt">
        <p class="red-text"><i class="fa fa-warning"></i> Nie udało się zalogować, sprawdź email i hasło</p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
   Nie masz konta?<a routerLink="/register"> Zarejestruj się</a>
  </div>
</div>



<div class="loader" *ngIf="!needsToLogIn">
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</div>



