.navbar {
  top: 2px;
}
.recipe-tittle {
  top: 1px;
}
.top-z-index {
  z-index: 9999;
}

.second-z-index {
  z-index: 9998;
}
.third-z-index {
  z-index: 9997;
}

.top-z-index:below-level(10px) {
  background-color: pink;
}
.recipe-details {
  height: 100%;
  padding: 20px 10px;
  .sticky-offset-50{
    top: 50px;
  }
  .sticky-offset-150{
    top: 150px;
  }
  .intend >td {
    padding-left: 20px;
  }
}
.margin-divs > div {
    margin-bottom: 15px;
}
