<div *ngIf="recipe">
  <div class="navbar bg-white sticky-top top-z-index recipe-tittle">
    <h4>{{recipe?.Name}}</h4>
  </div>
  <div class="recipe-details">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="sticky-offset-50 sticky-top">
          <div #grpElement *ngFor="let grp of recipe?.Engredients">
            <table class="table table-sm margin-0">
              <thead>
              <tr>
                <td>
                  <strong>{{grp.Name}}</strong>
                  <button class="btn btn-clear btn-sm no-v-margin pull-right btn-no-focus"
                          (click)="compressExpand(grpElement)"
                          mdbRippleRadius><i class="fa" [class.fa-compress]="!grpElement.isCollapsed" [class.fa-expand]="grpElement.isCollapsed"></i>
                  </button>
                </td>
              </tr>
              </thead>
            </table>
            <div [@collapse] *ngIf="!grpElement.isCollapsed">
              <table class="table table-sm margin-0">
                <tr class="intend" *ngFor="let eng of grp?.Positions">
                  <td>{{eng.Name}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="sticky-top top-z-index margin-divs" *ngIf="recipe.Temperature || recipe.Time">
          <div #tempTimeDiv class="row info-row">
            <div class="col" *ngIf="recipe.Temperature">
              <p><strong>Temperatura: </strong>{{recipe?.Temperature}} &#x2103;</p>
            </div>
            <div class="col" *ngIf="recipe.Time">
              <p><strong>Czas: </strong>{{recipe?.Time}}</p>
            </div>
          </div>
        </div>
        <div class="sticky-top sticky-offset-50 margin-divs">
          <div class="card">
            <div class="card-header " *ngIf="settings.hideHeaders === false">
              <h4 class="card-title ">Przepis</h4>
            </div>
            <div class="card-body pre-line">
              {{recipe?.Recipe}}
            </div>
          </div>
          <div class="card" *ngIf="recipe.Gallery">
            <div class="card-header"  *ngIf="settings.hideHeaders === false">
              <h4 class="card-title ">Galeria</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6" *ngFor="let image of recipe.Gallery">
                  <div class="card">

                    <div class="view overlay">
                      <img [src]="image.url" class="img-fluid img-center img-max-256" alt="Obraz niedostępny"/>
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!recipe">
    dupa
  </div>
</div>
