<div *ngIf="recipe">
  <div class="navbar bg-white sticky-top recipe-tittle">
    <h4>{{recipe?.Name}}</h4>
  </div>
  <div class="recipe-details">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="sticky-offset sticky-top">
          <table *ngFor="let grp of recipe?.Engredients" class="table table-sm">
            <thead>
            <tr>
              <td>
                <strong>{{grp.Name}}</strong>
                <button class="btn btn-link btn-sm pull-right" mdbRippleRadius><i class="fa fa-magic"></i></button>
              </td>
            </tr>
            </thead>
            <tbody>
            <tr class="intend" *ngFor="let eng of grp?.Positions">
              <td>{{eng.Name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 margin-divs">
        <div class="card card-body sticky-offset sticky-top card-padding-bottom-0"
             *ngIf="recipe.Temperature || recipe.Time">
          <p><strong>Temperatura: </strong>{{recipe?.Temperature}} &#x2103;</p>
          <p><strong>Czas: </strong>{{recipe?.Time}}</p>
        </div>

        <div class="card">
          <div class="card-header ">
            <h4 class="card-title ">Przepis</h4>
          </div>
          <div class="card-body pre-line">
            {{recipe?.Recipe}}
          </div>
        </div>
        <div class="card" *ngIf="recipe.Gallery">
          <div class="card-header ">
            <h4 class="card-title ">Galeria</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6" *ngFor="let image of recipe.Gallery">
                <div class="card">

                  <div class="view overlay">
                    <img [src]="image.url" class="img-fluid img-center img-max-256" alt="Obraz niedostępny"/>
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!recipe">
    dupa
  </div>
