<div class="recipe-details">
  <div class="card">
    <div class="card-header teal white-text">
      <h4>{{recipe?.Name}}</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="card card-body col-md-6">
          <h4 class="card-title">Temperatura</h4>
          <h4 class="card-title">Temperatura</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="flex-row">
            <a class="card-link">Card link</a>
            <a class="card-link">Another link</a>
          </div>
        </div>
        <div class="card card-body col-md-6">
          <h4 class="card-title">Panel title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="flex-row">
            <a class="card-link">Card link</a>
            <a class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
