<form [formGroup]="form" (keyup.enter)="successClick()" (keyup.esc)="close()">
  <div class="elastic-form-group md-form">
    <input #nameInput type="text" class="form-control elastic-element" placeholder="Nazwa"
           formControlName="name" required >
    <input mdbActive type="number" class="form-control elastic-element" placeholder="Ilość"
           formControlName="qty">
    <input mdbActive type="text" class="form-control elastic-element" placeholder="Jednostka"
           formControlName="unit">
    <button type="button" class="btn btn-success btn-sm pull-right" (click)="successClick()">
      <i class="fa fa-check"></i>
    </button>
    <button type="button" class="btn btn-danger btn-sm pull-right" (click)="close()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</form>
