@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$md-checkbox-margin: 16px 0;
$md-checkbox-checked-color: #2BBBAD;
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);

$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;

$md-checkmark-width: 2px;
$md-checkmark-color: #fff;

$color-black: "0,0,0";
$color-white: "255,255,255";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-white}, 1)") !default;
$select-font-size: 16px;
$select-color: black;
$select-padding: 4px;

body {
  overflow: hidden;
}

.navbar-toggler-icon > .fa {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.main-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%;
}

.content {
  height: 100%;
  max-height: 100%;
  padding-top: 55px;
  padding-bottom: 40px;
}

.md-checkbox {
  position: relative;
  //margin: $md-checkbox-margin;
  width: 35%;
  margin: 0 auto;
  label {
    cursor: pointer;
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: 2px solid $md-checkbox-border-color;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s;
    }

    &:after {
      // checkmark
    }
  }

  input[type="checkbox"] {
    outline: 0;
    margin-right: $md-checkbox-size - 10px;

    &:checked {
      + label:before {
        background: $md-checkbox-checked-color;
        border: none;
      }
      + label:after {

        $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

        transform: rotate(-45deg);

        top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
        left: $md-checkbox-padding;
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;

        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }
}

.left-panel {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 320px;
  flex: 0 1 320px;
}

.right-panel {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.div-column {
  height: 100%;
  max-height: 100%;
  overflow: overlay;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: $select-padding 0;
  font-size: $select-font-size;
  color: white;
  border: none;
  border-bottom: 1px solid $select-border-color;
  option {
    color: black;
  }
}

/* Remove focus */
select:focus {
  outline: none
}

/* Hide label */
.select-container label {
  display: none;
}

.padding-o {
  padding: 0;
}

.pre-line {
  white-space: pre-line;
  text-align: left;
}

.img-max-256 {
  max-height: 256px;
}

.img-center {
  margin: auto;
}

.card-padding-bottom-0 {
  padding-bottom: 0;
}

.btn-clear {
  color: inherit !important;
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin: 10px;
  text-decoration: none;
  outline: 0 !important;
}

.btn-clear:hover,
.btn-clear:active,
.btn-clear:enabled {
  box-shadow: none;
}

.btn-no-v-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.btn-block {
  width: 100%;
  border-radius: 0;
}

.margin-0 {
  margin-bottom: 0;
}

.cdk-overlay-container {
  z-index: 99999;
}

.position-absolute {
  position: absolute;
}

.menu-success:hover {
  background-color: #00C851 !important;
  color: white !important;
}

.menu-danger:hover {
  background-color: #ff4444 !important;
  color: white !important;
}

.menu-primary:hover {
  background-color: #4285F4 !important;
  color: white !important;
}

.buttons-row .hover-elements {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.buttons-row .btn-group {
  float: right;
  display: flex;
  right: 8px;
  transform: translateY(-25px);
}

.buttons-row:hover .hover-elements {
  opacity: 1;
}

.buttons-row .table-info .hover-elements {
  opacity: 1;
}

.buttons-row span {
  text-overflow: clip;
}

.buttons-row .row-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-default:focus {
  background-color: #2BBBAD !important;
}

.btn:focus {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.btn-no-focus:focus {
  box-shadow: none !important;
}

.login-card {
  width: 500px;
  height: 300px;
  display: table;
  margin: 100px auto;
  .raised-title {
    color: #fff;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 5px;
    //box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  }
}

.rounded-menu {
    border-radius: 10px !important;
}

.engredient-form-group {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;

  .engredient-form-element {
    padding: 0 8px;
    height: auto;
    min-width: 0;
  }
  .engredient-form-element:focus {
    width: 300%;
  }
  .btn {
    margin-left: 0;
    margin-right: 0;
  }
}

input.ng-invalid.ng-touched {
  &::placeholder {
    color: #F44336 !important;
  }
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}

.display-none {
  display: none !important;
}

