$md-checkbox-margin: 16px 0;
$md-checkbox-checked-color: #2BBBAD;
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);

$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;

$md-checkmark-width: 2px;
$md-checkmark-color: #fff;

$color-black: "0,0,0";
$color-white: "255,255,255";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-white}, 1)") !default;
$select-font-size: 16px;
$select-color: black;
$select-padding: 4px;

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.main-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%;
}

.content {
  height: 100%;
  max-height: 100%;
  padding-top: 55px;
  padding-bottom: 40px;
}

.md-checkbox {
  position: relative;
  //margin: $md-checkbox-margin;
  width: 35%;
  margin: 0 auto;
  label {
    cursor: pointer;
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: 2px solid $md-checkbox-border-color;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s;
    }

    &:after {
      // checkmark
    }
  }

  input[type="checkbox"] {
    outline: 0;
    margin-right: $md-checkbox-size - 10px;

    &:checked {
      + label:before {
        background: $md-checkbox-checked-color;
        border: none;
      }
      + label:after {

        $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

        transform: rotate(-45deg);

        top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
        left: $md-checkbox-padding;
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;

        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }
}

.left-panel {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 320px;
  flex: 0 1 320px;
}

.right-panel {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.div-column {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: $select-padding 0;
  font-size: $select-font-size;
  color: white;
  border: none;
  border-bottom: 1px solid $select-border-color;
  option {
    color: black;
  }
}

/* Remove focus */
select:focus {
  outline: none}

/* Hide label */
.select-container label {display: none;}

.padding-o {
  padding: 0;
}
