<!--<div class="btn-group" dropdown>-->
  <!--<button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>-->
    <!--Basic dropdown-->
  <!--</button>-->

  <!--<div class="dropdown-menu dropdown-primary">-->
    <!--<a class="dropdown-item" href="#">Action</a>-->
    <!--<a class="dropdown-item" href="#">Another action</a>-->
    <!--<a class="dropdown-item" href="#">Something else here</a>-->
    <!--<div class="divider dropdown-divider"></div>-->
    <!--<a class="dropdown-item" href="#">Separated link</a>-->
  <!--</div>-->
<!--</div>-->
<button (click)="test()"> asdf</button>
<div class="chip">
  <img src="../../../assets/ico.png"  alt="Contact Person"> userData.name
</div>
