.img-avatar {
  height: 30px;
  border-radius: 150px;
}
.chip {
  height: 36px;
  font-size: 15px;
  margin-bottom: 0;
  line-height: 36px;
  img {
    margin: 0 8px 0 -14px !important;
    height: 36px;
    width: 36px;
  }
}
