<div class="chip" *ngIf="userData" [matMenuTriggerFor]="appMenu">
  <img *ngIf="userData.photoURL" [src]="userData.photoURL">
  <img *ngIf="!userData.photoURL" src="https://i.pinimg.com/564x/f0/03/44/f00344d904062ce92b4b3b146060d874.jpg" alt="Contact Person">
  <span *ngIf="userData.displayName">
    {{userData.displayName}}
  </span>
  <span *ngIf="!userData.displayName">
    {{userData.email}}
  </span>
</div>
<mat-menu [classList]="classes" class="rounded-menu" #appMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="editProfile()">
    <i class="fa fa-lg fa-user" ></i>
    &emsp;<span>Profil</span>
  </button>
  <button mat-menu-item (click)="settings()">
    <i class="fa fa-lg fa-cog"></i>
    &emsp;<span>Ustawienia</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <i class="fa fa-lg fa-sign-out"></i>
    &emsp;<span>Wyloguj się</span>
  </button>
</mat-menu>
